p1 {
    align-items: center;
}

p2 {
    align-self: start;
    align-items: center;
    animation: alternate;
    align-self: auto;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-name: initial;
}